@model DataProcessing.Core.Web.Models.DashBoardModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="container">

    <!-- Page-Title -->


    <div class="row">
        <div class="col-md-12 col-lg-6">
            <a asp-controller="BusinessToBusiness" asp-action="Index">
                <div class="widget-bg-color-icon card-box fadeInDown animated">
                    <div class="bg-icon bg-icon-info pull-left">
                        <i class="md md-attach-money text-info"></i>
                    </div>
                    <div class="text-right">
                        <h3 class="text-dark"><b class="counter">@Model.BusinessToBusiness</b></h3>
                        <p class="text-muted">Business to Business</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>

        <div class="col-md-12 col-lg-6">
            <a asp-controller="BusinessToCustomer" asp-action="Index">
                <div class="widget-bg-color-icon card-box">
                    <div class="bg-icon bg-icon-pink pull-left">
                        <i class="md md-add-shopping-cart text-pink"></i>
                    </div>
                    <div class="text-right">
                        <h3 class="text-dark"><b class="counter">@Model.BusinessToCustomer</b></h3>
                        <p class="text-muted">Business to Customer</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>


        <div class="col-md-12 col-lg-6">
            <a asp-controller="CustomerData" asp-action="Index">
                <div class="widget-bg-color-icon card-box">
                    <div class="bg-icon bg-icon-purple pull-left">
                        <i class="md md-equalizer text-purple"></i>
                    </div>
                    <div class="text-right">
                        <h3 class="text-dark"><b class="counter">@Model.CustomerData</b></h3>
                        <p class="text-muted">Customer Data</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>

        <div class="col-md-12 col-lg-6">
            <a asp-controller="NumberLookup" asp-action="Index">
                <div class="widget-bg-color-icon card-box">
                    <div class="bg-icon bg-icon-success pull-left">
                        <i class="md md-remove-red-eye text-success"></i>
                    </div>
                    <div class="text-right">
                        <h3 class="text-dark"><b class="counter">@Model.NumberLookup</b></h3>
                        <p class="text-muted">NumberLookup</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

</div>