
@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Business to Business Upload summary</b></h4>
            <p class="text-muted font-13">
                Here we can see the history of upload detail
            </p>

            <div class="bootstrap-table">
                <div class="fixed-table-toolbar"><div class="columns columns-right btn-group pull-right"></div></div><div class="fixed-table-container" style="padding-bottom: 0px;">
                    <div class="fixed-table-header" style="display: none;"><table></table></div><div class="fixed-table-body">
                        <table data-toggle="table" data-show-columns="false" data-page-list="[5, 10, 20]" data-page-size="5" data-pagination="true" data-show-pagination-switch="true" class="table-bordered  table table-hover" style="display: table;">
                            <thead style=""><tr><th style="" data-field="id" tabindex="0"><div class="th-inner ">First Name</div><div class="fht-cell"></div></th><th style="" data-field="name" tabindex="0"><div class="th-inner ">Last Name</div><div class="fht-cell"></div></th><th style="" data-field="date" tabindex="0"><div class="th-inner ">Job Title</div><div class="fht-cell"></div></th><th style="" data-field="amount" tabindex="0"><div class="th-inner ">DOB</div><div class="fht-cell"></div></th><th class="text-center" style="" data-field="user-status" tabindex="0"><div class="th-inner ">Status</div><div class="fht-cell"></div></th></tr></thead>

                            <tbody><tr data-index="0"><td style="">Isidra</td><td style="">Boudreaux</td><td style="">Traffic Court Referee</td><td style="">22 Jun 1972</td><td class="text-center" style=""><span class="label label-table label-success">Active</span></td></tr><tr data-index="1"><td style="">Shona</td><td style="">Woldt</td><td style="">Airline Transport Pilot</td><td style="">3 Oct 1981</td><td class="text-center" style=""><span class="label label-table label-inverse">Disabled</span></td></tr><tr data-index="2"><td style="">Granville</td><td style="">Leonardo</td><td style="">Business Services Sales Representative</td><td style="">19 Apr 1969</td><td class="text-center" style=""><span class="label label-table label-danger">Suspended</span></td></tr><tr data-index="3"><td style="">Easer</td><td style="">Dragoo</td><td style="">Drywall Stripper</td><td style="">13 Dec 1977</td><td class="text-center" style=""><span class="label label-table label-success">Active</span></td></tr><tr data-index="4"><td style="">Maple</td><td style="">Halladay</td><td style="">Aviation Tactical Readiness Officer</td><td style="">30 Dec 1991</td><td class="text-center" style=""><span class="label label-table label-danger">Suspended</span></td></tr></tbody>
                        </table>
                    </div><div class="fixed-table-footer" style="display: none;"><table><tbody><tr></tr></tbody></table></div><div class="fixed-table-pagination"><div class="pull-left pagination-detail"><span class="pagination-info">Showing 1 to 5 of 30 rows</span><span class="page-list"><span class="btn-group dropup"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="page-size">5</span> <span class="caret"></span></button><ul class="dropdown-menu" role="menu"><li class="active"><a href="javascript:void(0)">5</a></li><li><a href="javascript:void(0)">10</a></li><li><a href="javascript:void(0)">20</a></li></ul></span> rows per page</span></div><div class="pull-right pagination"><ul class="pagination"><li class="page-pre"><a href="javascript:void(0)">‹</a></li><li class="page-number active"><a href="javascript:void(0)">1</a></li><li class="page-number"><a href="javascript:void(0)">2</a></li><li class="page-number"><a href="javascript:void(0)">3</a></li><li class="page-number"><a href="javascript:void(0)">4</a></li><li class="page-number"><a href="javascript:void(0)">5</a></li><li class="page-last"><a href="javascript:void(0)">6</a></li><li class="page-next"><a href="javascript:void(0)">›</a></li></ul></div></div>
                </div>
            </div><div class="clearfix"></div>
        </div>
    </div>
</div>

@*<script src="~/assets/js/jquery.min.js"></script>
<script src="~/js/BusinessToBusiness.js"></script>*@