@model DataProcessing.Core.Web.Models.NumberLookup

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>NumberLookup</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <h4 class="header-title m-t-0">Bulk Entry</h4>
            <p class="text-muted font-14 m-b-25">
                Upload excel or csv for to get lookup detail
            </p>
            <form asp-action="Index">
                <div class="row">
                    <div class="col-md-8">
                        <div class="p-20">
                            <div class="form-group">
                                <label class="control-label">Default file input</label>
                                <input type="file" class="filestyle" data-placeholder="Excel/CSV" id="files" name="files" tabindex="-1" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);">
                                <div class="bootstrap-filestyle input-group">
                                    <input type="text" class="form-control " placeholder="Excel/CSV" disabled="">
                                    <span class="group-span-filestyle input-group-btn" tabindex="0">
                                        <label for="files" class="btn btn-default ">
                                            <span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span>
                                            <span class="buttonText">Choose file</span>
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="p-10">
                            <div class="form-group m-b-0" style="margin-top:50px;">
                                <button type="submit" class="btn btn-primary waves-effect waves-light">Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
           
        </div>
    </div>

