@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Business to Business Upload summary</b></h4>
            <p class="text-muted font-13">
                Here we can see the history of upload detail
            </p>
        </div>
    </div>
</div>